@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-primary: #F1EFEF;
  --dark-primary: #1c1b22;
  --stone-800: rgb(41 37 36);
  --indigo-500: rgb(99 102 241);
  --stone-400: rgb(168 162 158);
}

body.dark {
  background-color: var(--dark-primary);
  color: var(--light-primary);
}

@layer utilities {
  body {
    @apply text-sm;
  }

  .nav-layout,
  .base-layout,
  .absolute-layout {
    @apply px-5 md:px-10 lg:px-20;
  }

  .base-layout {
    @apply py-20;
  }

  .bg-dark {
    background-color: var(--dark-primary);
  }

  .bg-light {
    background-color: var(--light-primary);
  }

  .text-light {
    color: var(--light-primary);
  }

  .text-dark {
    color: var(--dark-primary);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .btn__spinner {
    @apply animate-spin;
  }

  .page__spinner {
    @apply animate-spin text-3xl sm:text-4xl;
  }

  .page__spinner {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .custom__list ul li {
    @apply list-disc ml-4 pb-1.5 last:pb-0;
  }

  .custom__list ol li {
    @apply list-decimal ml-7 pb-1.5 last:pb-0;
  }

  .text-danger {
    @apply text-rose-500;
  }

  .dark .text-danger {
    @apply text-rose-300;
  }

  .theme-block {
    @apply bg-light;
  }

  .dark .theme-block {
    @apply bg-stone-800;
  }

  .border-theme {
    @apply border-stone-300;
  }

  .dark .border-theme {
    @apply border-stone-700;
  }

  .text-primary {
    @apply text-indigo-500;
  }

  .dark .text-primary {
    @apply text-indigo-200;
  }

  .input__element,
  .rounded-close-btn {
    @apply bg-stone-300/80;
  }

  .dark .input__element,
  .dark .rounded-close-btn {
    @apply bg-stone-700/60;
  }

  .input__element::placeholder {
    @apply text-black/60;
  }

  .dark .input__element::placeholder {
    @apply text-white/60;
  }

  .three-line-text {
    display: -webkit-box;
    /* Enables the use of -webkit-line-clamp */
    -webkit-box-orient: vertical;
    /* Specifies the box should be vertical */
    -webkit-line-clamp: 3;
    /* Limits the text to 2 lines */
    overflow: hidden;
    /* Hides the extra text */
    text-overflow: ellipsis;
    /* Adds an ellipsis (...) at the end of the visible text */
  }

  .dark .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    @apply bg-light;
  }

  .custom__tooltip {
    color: var(--dark-primary) !important;
    background-color: var(--light-primary) !important;
  }

  .dark .custom__tooltip {
    color: var(--light-primary) !important;
    background-color: var(--stone-800) !important;
  }
}

.react-datepicker {
  background-color: var(--light-primary) !important;
}

.react-datepicker__header {
  background-color: unset !important;
}

.react-datepicker__day:not([aria-disabled=true]):hover {
  background-color: white !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--selected:not([aria-disabled=true]):hover,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--keyboard-selected:not([aria-disabled=true]):hover {
  background-color: var(--indigo-500) !important;
  color: white !important;
}

.dark .react-datepicker {
  background-color: var(--dark-primary) !important;
}

.dark .react-datepicker * {
  color: var(--light-primary) !important;
}

.dark .react-datepicker__day--disabled {
  color: var(--stone-400) !important;
}

.dark .react-datepicker__day:not([aria-disabled=true]):hover {
  background-color: var(--stone-800) !important;
}

.react-datepicker__triangle {
  fill: var(--light-primary) !important;
  color: var(--light-primary) !important;
}

.dark .react-datepicker__triangle {
  fill: var(--dark-primary) !important;
  color: var(--dark-primary) !important;
}

.react__fileUploader label[for="file"] {
  min-width: unset !important;
  max-width: unset !important;
}

.dark .react__fileUploader label[for="file"] * {
  color: var(--light-primary) !important;
}